<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>文章分类列表</title>
    <link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/css/fenye.css">
</head>

<body>

    <table class="layui-table"lay-filter="test" id="test">
        <thead>
            <tr>
                <th lay-data="{field:'id', width:180, sort: true}">公告标题</th>
                <th lay-data="{field:'id', width:180, sort: true}">状态</th>
                <th lay-data="{field:'id', width:180, sort: true}">发布者</th>
                <th lay-data="{field:'id', width:80, sort: true}">创建时间</th>
                <th lay-data="{field:'id', width:80, sort: true}">修改时间</th>
                <th lay-data="{field:'username', width:80}">操作</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="list" item="vo">
                <tr>
                    <td>{$vo.title}</td>
                    <if condition="($vo.state eq 0)"> <td>显示</td>
                    <else />  <td>隐藏</td>
                    </if>
                    <td>{$vo.name}</td>
                    <td>{$vo.create_time}</td>
                    <td>{$vo.exit_time}</td>
                    <td>
                        <a href="{:U('Admin/Index/exitnotice',array('id'=>$vo[id]))}" class="layui-btn layui-btn-primary">修改</a>
                        <a href="{:U('Admin/Index/delnotice',array('id'=>$vo[id]))}" class="layui-btn layui-btn-primary">删除</a>
                        <a href="#" class="layui-btn layui-btn-primary">预览</a>
                        <if condition="($vo.state eq 0)">
                            <a href="{:U('Admin/Index/noticestate',array('id'=>$vo[id],'state'=>1))}" class="layui-btn layui-btn-primary">隐藏</a>
                        <else />
                            <a href="{:U('Admin/Index/noticestate',array('id'=>$vo[id],'state'=>0))}" class="layui-btn layui-btn-primary">显示</a>
                        </if>
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
        <div class="result page">{$page}</div>

    <script src="__PUBLIC__/plugins/layui/layui.js"></script>
    <script>
        layui.use('table', function() {
            var table = layui.table;
        });
    </script>
</body>

</html>