<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{$configdata.name}</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/csh.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fenye.css">
</head>
<body>
    <div class="content">
        <div class="header w">
            <div class="title">
                {$configdata.name}
            </div>
            <div class="nav">
                <ul>
                    <a href="{:U('Home/Index/index')}"><li>首页</li></a>
                    <foreach name="classifyData" item="vo">
                        <a href="{:U('Home/Index/index',array(fenlei=>$vo[name]))}"><li>{$vo.name}</li></a>
                    </foreach>
                    <a href="{:U('Home/Index/photo')}"><li>相册</li></a>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="mainleft">
                <!-- <div class="item">
                    <h3>YOUTUBE推荐频道订阅</h3>
                    <div class="other">
                        2019年2月26日 | 作者: 月光 | 分类: 软件应用 | 评论: 2 | 浏览: 2159 | 阅读全文​...
                    </div>
                    <div class="con">
                        <div class="conleft">　YouTube上有很多不错的频道，内容也非常多，但对于初次访问的用户来说，不太容易快速找到自己喜欢的频道，这里介绍一个网站，给YouTube的频道都进行了分类，并针对各个分类进行了排序，订阅量最多的虽然不一定适合你，但却往往能满足不少人的需求。</div>
                        <div class="conright"></div>
                    </div>
                </div> -->
                <foreach name="articlelist" item="vo">
                    <a class="item" href="{:U('Home/Index/findArticle',array('id'=>$vo[id]))}">
                        <h3>{$vo.title}</h3>

                        <div class="other">
                            <if condition="$vo.stick == 1 "><span style="color:red">置顶</span>
                        </if> | {$vo.create_time} | 作者: {$vo.user} | 分类: {$vo.classify} | 评论: 2 |  |阅读全文​...
                        </div>
                        <div class="con">
                            <div class="conleft">　{$vo.content}</div>
                            <div class="conright"></div>
                        </div>
                    </a>
                </foreach>
                <div class="result page">{$page}</div>

                <div class="clear"></div>
            </div>

            <div class="mainright">
                <div class="sidebar-box clearfix">
                    <h4>博客公告</h4>
                    <div class="divSubscribe">
                        <ul>
                             <foreach name="noticeData" item="vo">
                                <li><a href="{:U('Home/Index/findNotice',array('id'=>$vo[id]))}">{$vo.title}</a></li>
                            </foreach>
                        </ul>
                    </div>
                </div>

                <div class="sidebar-box clearfix">
                    <h4>搜索</h4>
                    <div class="divSubscribe">
                        <div style="position: relative; margin-top: 10px">
                            <form action="{:U('Home/Index/index')}" method="post" accept-charset="utf-8">
                                <input type="text" name="title" size="12" id="edtSearch">
                                <input type="submit" value="提交" name="btnG" id="btnPost">
                            </form>
                            
                        </div>
                    </div>
                    <div style="height: 20px"></div>
                    <h4>登陆/注册</h4>
                    <div class="divSubscribe">
                        <div style="position: relative; margin-top: 10px">
                            <a href="{:U('Login/Index/index')}">立即登录》》</a><br/>
                            <a href="{:U('Login/Index/register')}">立即注册》》</a>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box clearfix">
                    <h4>最新留言</h4>
                    <div class="divSubscribe">
                        <ul>
                            <foreach name="tencomment" item="vo">
                                <li><a href="{:U('Home/Index/findArticle',array('id'=>$vo[article_id]))}">{$vo.content}</a></li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
<footer>
    <div class="foot">
   
    <span class="foot-bottom">{$configdata.bottom}</span>
    </div>
</footer>
</body>
</html>